<!DOCTYPE html>
<html>
<title>My Page</title>
<body style="background-color:powderblue; font-family:verdana; text-align:center; overflow: hidden;">
<h1 style="color:blue;">Acme Home Furnishings</h1>
<p> <%= link_to 'Welcome', root_path %> </p>
<img src="http://2.bp.blogspot.com/-uFW1mcngL_g/T8FEuWlLsWI/AAAAAAAACjE/XeqQNElb284/s1600/macys_couch_450.jpg" alt="Nicce Couch" style="width:304px;height:228px;">
<hr>
<h2><i>In business since 2017</i></h2>
<p style="display: inline-block; border-left: 1px solid gray; margin-right: 100px; margin-left: 100px;">Free delivery</p>
<p style="display: inline-block; margin-left: 170px; margin-right: 100px;">Amazing sales people</p>
<footer>BRussell 2017</footer>
</body>
</html>
